<div class="registration-container">
  <h2>Registrazione effettuata con successo!</h2>
  <div class="registration">

    <div class="email-container">
      <label for="email">{{'La tua email' | uppercase}}</label>
      <input type="text" id="email" value="{{email}}" readonly>
    </div>
    <div class="password-container">
      <label for="password">{{'La tua password' | uppercase}}</label>
      <input type="text" id="password" value="{{password}}" readonly>
    </div>

    <button routerLink="/login">Torna al Login</button>
  </div>
</div>
