.login-header{
  background-color: #BACEB9;
  text-align: end;
  padding: 20px;
}

.login-header h2{
  font-size: 2rem;
  font-family: 'Blantick';
}

.login-forms{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.login-wrapper{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 750px){
  .login-header{
    padding: 0;
  }
  .login-header h2{
    padding: 0 20px 0 0;
  }

  .login-forms, .login-wrapper{
    height: 100%;
  }

  .login-wrapper{
    flex-direction: column;
  }
}
