.product-list-container{
  margin-top: 20px;
  width: 100%;
}

.product-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

@media screen and (max-width:1023px) and (min-width: 751px)
{
  .product-grid{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:750px)
{
  .product-grid{
    grid-template-columns: auto;
  }
}
